.popup__input {
  border: none;
  border-bottom: 1px solid #000;
  width: 358px;
  margin: 30px auto 0px auto;
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup__input:nth-child(odd) {
  margin: 0px auto 0px auto;
}

@media screen and (max-width: 670px) {
  .popup__input {
    max-width: 47vw;
  }
}

@media screen and (max-width: 510px) {
  .popup__input {
    max-width: 238px;
  }
}