.popup__title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  margin: 34px auto 54px auto;
}

@media screen and (max-width: 670px) {
  .popup__title {
    margin: 25px auto 75px auto;
    font-size: 18px;
    min-width: 238px;
  }
}

